<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ESH_Desafio6.DomainModel.Properties.Settings.Desafio6dbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=~\App_Data\Desafio6db.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ESH_Desafio6.DomainModel.Properties.Settings.Desafio6dbConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\GitErick\desafio6\src\ESH-Desafio6.AppWeb\App_Data\Desafio6db.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>